<h1>Formulário</h1>

<form #userForm="ngForm" (ngSubmit)="saveData(userForm)">
  <div>
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" required 
      [(ngModel)]="student.name" #name="ngModel" minlength="4">

    <div *ngIf="name.invalid && (name.dirty || name.touched)">
      <p *ngIf="name.errors.required">Campo obrigatório</p>
      <p *ngIf="name.errors.minlength">Tamanho minimo não atingido</p>
    </div>
  </div>

  <div>
    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" required
      [(ngModel)]="student.email" #email="ngModel" minlength="8">

    <div *ngIf="email.invalid && (email.dirty || email.touched)">
      <p *ngIf="email.errors.required">Campo obrigatório</p>
      <p *ngIf="email.errors.minlength">Tamanho minimo não atingido</p>
    </div>
  </div>

  <input type="submit" value="Salvar" [disabled]="userForm.invalid">
</form>

<div *ngIf="students.length > 0">
  <h2>Estudantes salvos:</h2>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Editar</th>
        <th>Remover</th>
      </tr>
    </thead>
    <tbody> 
      <tr *ngFor="let stu of students">
        <td>{{ stu.name }}</td>
        <td>{{ stu.email }}</td>
        <td><input type="button" value="Editar" (click)="editStudent(stu)"></td>
        <td><input type="button" value="Remover" (click)="removeStudent(stu)"></td>
      </tr>
    </tbody>
  </table>  
</div>
